body {
    padding-top: 90px;
    padding-bottom: 20px;
    font-size: 18px;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*Custom layouts*/

.courses{
    list-style:none;
}


.courses > li{
    position: relative;
    margin-bottom: 30px;
}

.courses > li .details{
    position: absolute;
    top: 0px;
    left: 100px;
    width: 500px;
}

.courses > li .date {
        background : #808080;
        color:white;
        text-align:center;
        width: 80px;
        border-radius: 8px;
    }

.courses > li .date .monthyear {
            text-transform: uppercase;
            font-size: 14px;
            font-weight: bold;
            padding: 2px 6px;
        }

.courses > li .day {
        background : #f7f7f7;
        color:#333;
        font-size: 20px;
        padding: 6px 12px;
    }
.gigs > li .details .coursename{
    font-weight: bold;
    display: block;
    background : #f7f7f7;
}

.courses > li .details .coursedescription {
        font-size: 15px;
        
    }

.courses > li .details a {
        display: inline-block;
    }

.CourseHeader {
   background : #f7f7f7;
   margin-bottom: 60px;
}
