body {
    padding-top: 130px;
    padding-bottom: 20px;
    font-size: 18px;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Bootstrap overriding */

.panel{
    margin-bottom: 50px;
}

.panel-title {
       font-size: 20px;
        color:red;
}


.panel-default > .panel-heading {
  background-color: #f6f6f6;

}

.glyphicon{
    color:#198521;
    margin:5px;
}

.glyphicon:hover{
      color: #080808;
}

/*Custom layouts*/

.courses{
    list-style:none;
}

.courses > li{
    position: relative;
    margin-bottom: 30px;
}

.courses > li .details{
    position: absolute;
    top: 0px;
    left: 100px;
    width: 500px;
}

.courses > li .date {
        background : #808080;
        color:white;
        text-align:center;
        width: 80px;
        border-radius: 8px;
    }

.courses > li .date .monthyear {
            text-transform: uppercase;
            font-size: 14px;
            font-weight: bold;
            padding: 2px 6px;
        }

.courses > li .day {
        background : #f7f7f7;
        color:#333;
        font-size: 20px;
        padding: 6px 12px;
}

.courses > li .details .coursedescription {
        font-size: 15px;
        
    }

.courses > li .details a {
        display: inline-block;
    }

.CourseHeader {
   background :#f6f6f6;
   color:red;
   margin-bottom: 60px;
}

#Module{
    background-color :bisque;
}

#Activities {
    background-color: aliceblue;
}

/*Modifying the default classes*/
/*.navbar-inverse .navbar-brand {
  color: white;
}

.navbar-inverse .navbar-brand:hover {
  color: #ffffff;
  background-color: red;
}

 .navbar-brand
{
   color: #ffffff;
  background-color: red;
}*/
  
 .navbar-inverse .navbar-nav > li > a{
  color:  #8eff96;
}

 a {
  color: #198521;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #080808;
  text-decoration: underline;
}


.table thead > tr > th,
.table tbody > tr > th,
.table tfoot > tr > th,
.table thead > tr > td,
.table tbody > tr > td,
.table tfoot > tr > td {

  border-top: none;
}


img {
  padding:5px;
}

#Courseviewheading{
    color:red;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 2px solid  #080808;
}
