@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    The SAS - Learning Management System is a system to manage courses with included modules, activities and students for the courses.
    The system also handles the documents for the courses which includes information documents for the courses, the modules and the activities.
    <br>
    A teacher is allowed to create courses and all modules, activities and information about the courses.
    The teacher can also add more teachers and students.
    A student can look at a scheme for the actual course and modules, activities and the documents for that course.
    The student can also download the documents for the course and upload the files for an exercise.
</p>

