@{
    ViewBag.Title = "Courses Page";
}

<div class="container">
    <h3>Welcome to Lexicon - Sweden's Biggest Technology based Education company</h3>
    <img src="~/Images/LMS.png" alt="Learning Management System" width="500" height="225" />
</div>

