@{
    ViewBag.Title = "Courses Page";
}

<div>
    <h1>SAS - Learning Management System</h1>
    <p class="lead">SAS - Learning Management System is a system to manage courses, students and teachers for a school.</p>
</div>

    <img src="~/Images/bibliotek.jpg" alt="School Library" style="width:900px;height:600px;"/>
