@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1>SAS - Learning Management System</h1>
    <p class="lead">SAS - Learning Management System is a system to manage courses, students and teachers for a school.</p>
</div>

<div class="row">
    <div class="col-md-8">
        <h2>Short Description</h2>
        <p>
            The SAS - Learning Management System is a system to manage courses with included modules, activities and students for the courses.
            The system also handles the documents for the courses which includes both information documents for the modules and activities.
            It also manages the documents which are sent up from the students.
            A teacher is allowed to create courses and all modules, activities and information about a course.
            The teacher can also add more teachers and students.
            A student can look at a scheme for the actual course and modules, activities and the documents for that course.
            The student can also download the documents for the course and upload the files for an exercise.
        </p>
    </div>

    <img src="bibliotek.jpg" alt="School Library" style="width:600px;height:400px;">

</div>